body {
	margin: 0;
	padding: 0;
	background: #fff;
}
.section {
	background-color: #fff;
	border-bottom: 1px solid #cdcdcd;
	padding: 20px;
}
.dark-theme .section {
	background-color: inherit;
	border-bottom-color: #555;
}
#card-demo .card {
	margin-bottom: 100px;
	height: 100px;
}
#switch-container {
	margin-right: 100px;
}
#external-fab-container {
	position: fixed;
	right: 20px;
	top: 10px;
}
.checkbox, .radio, .text-input, .button, .switch, .fab, .toast {
	margin: 10px;
}
.button {
	padding: 8px 15px;
}
.header {
	margin: 0;
	height: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
}
.toolbar-group {
	margin: 10px 0;
}
#icons {
	text-align: center;
}
.row {
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	margin-left: 2%;
	min-width: 250px;
	text-align: left;
}
.row .i-code {
	float: right;
	color: gray;
}
#typo-demo {
	max-height: 225px;
	overflow: auto;
}
