/* Sections */
.section {
	background-color: #fff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 20px;
}
.dark-theme .section {
	background-color: inherit;
	border-bottom-color: rgba(255, 255, 255, 0.12);
}
.section > h2, .section > .subheading {
	top: -20px; /* sections have some padding, we need to move the subheader up to cover that */
}

/* Header positioning */
.header {
	margin: 0;
	height: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 999;
}

/* Header toolbar tweaks */
#switch-container {
	margin-right: 100px;
}
#external-fab-container {
	position: absolute;
	right: 20px;
	top: 10px;
}

/* Code demos */
code {
	white-space: pre-wrap;
}
code .tag {
	color: #E91E63; /* Pink - 500 */
}
code .atn {
	color: #FF9800; /* Orange - 500 */
}
code .pun {
	color: #9E9E9E; /* Gray - 500 */
}
code .atv {
	color: #03A9F4; /* Light Blue - 500 */
}
code .pln {
	color: inherit;
}

/* Specific demo rules */
#card-demo .card {
	margin-bottom: 100px;
	height: 100px;
}
#typo-demo {
	max-height: 330px;
	overflow: auto;
}

/* Add spacing around items */
.checkbox, .radio, .button, .switch, .fab, .toast {
	margin: 10px;
}
.toolbar-group {
	margin: 10px 0;
}

/* Icon font display */
#icons {
	text-align: center;
}
.row {
	display: inline-block;
	width: 20%;
	margin-right: 2%;
	margin-left: 2%;
	min-width: 250px;
	text-align: left;
}
.row .i-code {
	float: right;
	color: gray;
}

.section > .divider {
	margin-top: 1.5em;
}
