body {margin:0;padding: 0;}
h1, h2 {margin-left: 20px;}
.card {margin: 20px;padding: 10px}
#card-demo .card {
    margin-bottom: 100px;
    height: 100px;
}
.checkbox, .radio, .text-input, .button, .switch, .fab {
    margin: 10px;
}
.button {
    padding: 8px 15px;
}
.header {
    margin: 0;
    height: auto;
    position: sticky;
    top:0;
    z-index: 999;
}
.row {
    display: inline-block;
    width: calc(25% - 100px);
    margin-right: 20px; 
}
.row .i-code {
    float: right;
    color: gray;
}