/******** Material framework ********/
/******** by Tim Nguyen *************/
/** http://twitter.com/therealntim **/

@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,300,300italic,400italic,500italic);
body {
    font-family: Roboto, Arial, sans-serif;
}
:focus {
    outline: none;
}
::-moz-focus-inner {
    border:none;
    padding: 0;
}
h1, h2 {
    font-weight: 300;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.checkbox, .radio, .text-input, .button, .switch, .fab {
    display:inline-block;
    vertical-align:top;
}
.checkbox, .radio, .button, .switch, .fab, .icon-button {
    cursor:pointer;
    -moz-user-select: none;
    user-select: none;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"], 
.switch input {
    display: none;
}
.checkbox input[type="checkbox"] + label,
.radio input[type="radio"] + label {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: transparent;
    transition: all 0.2s;
    position: relative;
    box-shadow: 0 0 0 transparent;
}
.checkbox input[type="checkbox"] + label:active,
.radio input[type="radio"] + label:active,
.switch input + label:active::after {
    box-shadow: 0 0 0 9px rgba(15, 157,88, 0.29);
    background: rgba(15, 157,88, 0.29);
       
}
.switch input + label:active::after {
    background: #BDE4D0;
}
.checkbox input[type="checkbox"]:checked + label:active,
.radio input[type="radio"]:checked + label:active,
.switch input:checked + label:active::after {
    box-shadow: 0 0 0 9px rgba(204,204,204, 0.8);
    background: rgba(204,204,204, 0.8)
}
.checkbox input[type="checkbox"] + label::after,
.radio input[type="radio"] + label::before,
.radio input[type="radio"] + label::after {
    content:"";
    border: 2px solid #5A5A5A;
    width: 18px;
    height: 18px;
    display: inline-block;
    /*transition: border-color 0.3s, transform 0.3s;*/
    position: relative;
    margin-top: 4px;
    margin-left: 4px;
}
.checkbox input[type="checkbox"] + label::after {
    animation: checkbox 0.3s reverse;
    margin-bottom: 1px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    transform: rotate(45deg);
    top: -4px;
    left: 6px;
    width: 10px;
    height: 21px;
    border-width: medium 2px 2px medium;
    border-top: medium none #0F9D58;
    border-left: medium none #0F9D58;
    border-color: #0F9D58;
    margin-bottom: 0;
    animation: checkbox2 0.3s alternate;
}
/* We're duplicating the animation since the first animation already ran */
@keyframes checkbox {
    0% {transform: none;}
    50% {transform: scale(0.1);}
    100% {transform: rotate(45deg);}
}
@keyframes checkbox2 {
    0% {transform: none;}
    50% {transform: scale(0.1);}
    100% {transform: rotate(45deg);}
}
.radio input[type="radio"] + label::after {
    border-radius: 100%;
    width: 16px;
    height: 16px;
    margin: 5px;
}
.radio input[type="radio"] + label::before {
    position:absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    border: none;
    background:#0F9D58;
    transform: scale(0);
    transition: all 0.2s;
}
.radio input[type="radio"]:checked + label::before {
    transform: none;
}
.radio input[type="radio"]:checked + label::after {
    border-color: #0F9D58;
}
.switch input+label {
    position: relative;
}
.switch input+label::before {
    content:"";
    height: 1px;
    width: 32px;
    background-color: #5A5A5A;
    display:inline-block;
    position:relative;
    vertical-align: top;
}
.switch input:checked + label::before {
    background-color: #0F9D58;
}
.switch input + label::after {
    content:"";
    position: absolute;
    display:inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #5A5A5A;
    box-sizing: border-box;
    left: -8px;
    top:-8px;
    background-color: white;
    transition: box-shadow 0.3s ease, transform 0.3s;
    vertical-align: top;
}
.switch input:checked + label::after {
    background-color: #0F9D58 !important;
    border: none;
    transform: translateX(32px);
    width: 18px;
    height: 18px;
    margin-top: -1px;
}
.text-input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #757575;
    transition: all 0.3s;
    color: #000;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.text-input:focus {
    border-bottom-color: #4285F4;
    border-bottom-width: 2px;
}
.ripple {
    position: relative;
    display: inline-block;
}
.button, .fab {
    position: relative;
    border: none;
    text-transform: uppercase;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.1s;
    text-align: center;
}
.ripple::after, .button::after, .fab::after {
    content:"";
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgba(204,204,204, 0.29);
    height: 100%;
    width: 0%;
    border-radius: 0.75em / 2em;
    transition: all 0.2s;
    text-align: center;
}
.ripple.circle::after, .fab::after {
    width: 0px;
    height: 0px;
    top: 50%;
    border-radius: 100% !important;
}
.ripple:active::after, .button:active::after, .fab:active::after {
    width: 100% !important;
    left:0;
    top: 0 !important;
    height: 100% !important;
    border-radius: 0 !important;
}
.button:not(.raised) {
    background: none !important;
}
.button.raised, .fab {
    background-color:#DFDFDF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26),
                0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}
.fab {
    background-color: #FFF;
}
.button.raised:active, .fab:active {
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2),
                0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}
.button:disabled {
    background: #EAEAEA !important;
    color: #A8A8A8 !important;
    box-shadow: none !important;
    pointer-events: none;
}
.fab {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    font-size: 24px;
    box-sizing:border-box;
    color: #000;
    padding: 15px 10px;
}
.fab.small {
    width: 40px;
    height: 40px;
    line-height: 23px;
    padding: 8px;
}

.red, .green, .blue {
    color: #FFF !important;
}
.blue {
    background-color: #4285F4 !important;
    color: white !important;
}
.button.blue:not(.raised) {
    color: #4285F4  !important;
}
.red {
    background-color: #d23f31 !important;
}
.button.red:not(.raised) {
    color: #d23f31 !important;
}
.green, .green {
    background-color: #259b24 !important;
}
.button.green:not(.raised) {
    color: #259b24 !important;
}
.yellow {
    background-color: #ffeb3b !important;
    color: #000 !important;
}
.button.yellow:not(.raised) {
    color: #ffeb3b !important;
}

.icon-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    transition: background 0.3s ease;
    padding: 8px;
    color: inherit;
    font:inherit;
    font-size: 24px;
}
.icon-button:active {
    background-color: rgba(210,210,210, 0.27)
}
.toolbar {
    display:block;
    padding: 5px 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    background-color: white;
}
.toolbar > *:not(sub):not(sup) {
    vertical-align: middle;
}
.toolbar-label {
    margin: 0 5px;
}
.slider::-moz-range-track {
    -moz-appearance: none;
    height: 2px;
    background-color:#C8C8C8;
    border: none;
}
.slider, x::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    background-color:#C8C8C8;
    border: none;
}
.slider::-moz-range-progress {
    background-color: #4285F4;
    height: 2px;
}
.slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    background-image: none;
    background-color: #4285F4;
    transition: all 0.2s ease;
}
.slider:active::-moz-range-thumb {
    transform: scale(2.66)
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    background-image: none;
    background-color: #4285F4;
    transition: all 0.2s ease;
}
.slider:active::-webkit-slider-thumb {
    transform: scale(2.66)
}
.card-container {background-color: #E5E5E5}
.card {
    background-color: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26),
                0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}
.card[z="2"] {
    box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2),
                0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}
.card[z="3"] {
    box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.24),
                0px 17px 50px 0px rgba(0, 0, 0, 0.19);
}
.card[z="4"] {
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.22),
                0px 25px 55px 0px rgba(0, 0, 0, 0.21);
}
.card[z="5"] {
    box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.2),
                0px 40px 77px 0px rgba(0, 0, 0, 0.22);
}
@font-face {
  font-family: 'google-icons';
  src: url('../font/google-icons.eot?56983515');
  src: url('../font/google-icons.eot?56983515#iefix') format('embedded-opentype'),
       url('../font/google-icons.woff?56983515') format('woff'),
       url('../font/google-icons.ttf?56983515') format('truetype'),
       url('../font/google-icons.svg?56983515#google-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'google-icons';
    src: url('../font/google-icons.svg?56983515#google-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:not(.icon-button):before, [class*=" icon-"]:not(.icon-button):before {
  font-family: "google-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-person:before { content: '\e800'; } /* 'î €' */
.icon-person-add:before { content: '\e801'; } /* 'î ' */
.icon-photo-library:before { content: '\e802'; } /* 'î ‚' */
.icon-play:before { content: '\e803'; } /* 'î ƒ' */
.icon-poll:before { content: '\e804'; } /* 'î „' */
.icon-popular:before { content: '\e805'; } /* 'î …' */
.icon-print:before { content: '\e806'; } /* 'î †' */
.icon-refresh:before { content: '\e807'; } /* 'î ‡' */
.icon-replay:before { content: '\e808'; } /* 'î ˆ' */
.icon-reply:before { content: '\e809'; } /* 'î ‰' */
.icon-reply-all:before { content: '\e80a'; } /* 'î Š' */
.icon-report:before { content: '\e80b'; } /* 'î ‹' */
.icon-rotate-left:before { content: '\e80c'; } /* 'î Œ' */
.icon-rotate-right:before { content: '\e80d'; } /* 'î ' */
.icon-save:before { content: '\e80e'; } /* 'î Ž' */
.icon-search:before { content: '\e80f'; } /* 'î ' */
.icon-select-all:before { content: '\e810'; } /* 'î ' */
.icon-shopping-basket:before { content: '\e812'; } /* 'î ’' */
.icon-shopping-cart:before { content: '\e813'; } /* 'î “' */
.icon-shuffle:before { content: '\e814'; } /* 'î ”' */
.icon-sidebar:before { content: '\e815'; } /* 'î •' */
.icon-skip-next:before { content: '\e816'; } /* 'î –' */
.icon-skip-previous:before { content: '\e817'; } /* 'î —' */
.icon-star:before { content: '\e818'; } /* 'î ˜' */
.icon-star-half:before { content: '\e819'; } /* 'î ™' */
.icon-star-outline:before { content: '\e81a'; } /* 'î š' */
.icon-stop:before { content: '\e81b'; } /* 'î ›' */
.icon-swap-horizontal:before { content: '\e81c'; } /* 'î œ' */
.icon-swap-vertical:before { content: '\e81d'; } /* 'î ' */
.icon-thumb-down:before { content: '\e81e'; } /* 'î ž' */
.icon-thumb-up:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-trash:before { content: '\e820'; } /* 'î  ' */
.icon-undo:before { content: '\e821'; } /* 'î ¡' */
.icon-upload:before { content: '\e822'; } /* 'î ¢' */
.icon-usb:before { content: '\e823'; } /* 'î £' */
.icon-video:before { content: '\e824'; } /* 'î ¤' */
.icon-video-off:before { content: '\e825'; } /* 'î ¥' */
.icon-view-array:before { content: '\e826'; } /* 'î ¦' */
.icon-view-column:before { content: '\e827'; } /* 'î §' */
.icon-view-grid:before { content: '\e828'; } /* 'î ¨' */
.icon-view-headline:before { content: '\e829'; } /* 'î ©' */
.icon-view-list:before { content: '\e82a'; } /* 'î ª' */
.icon-view-quilt:before { content: '\e82b'; } /* 'î «' */
.icon-view-stream:before { content: '\e82c'; } /* 'î ¬' */
.icon-visibility:before { content: '\e82d'; } /* 'î ­' */
.icon-visibility-off:before { content: '\e82e'; } /* 'î ®' */
.icon-volume-down:before { content: '\e82f'; } /* 'î ¯' */
.icon-volume-mute:before { content: '\e830'; } /* 'î °' */
.icon-volume-off:before { content: '\e831'; } /* 'î ±' */
.icon-volume-up:before { content: '\e832'; } /* 'î ²' */
.icon-world:before { content: '\e833'; } /* 'î ³' */
.icon-write:before { content: '\e834'; } /* 'î ´' */
.icon-youtube:before { content: '\e835'; } /* 'î µ' */
.icon-add:before { content: '\e836'; } /* 'î ¶' */
.icon-add-alarm:before { content: '\e837'; } /* 'î ·' */
.icon-alarms:before { content: '\e838'; } /* 'î ¸' */
.icon-apps:before { content: '\e839'; } /* 'î ¹' */
.icon-archive:before { content: '\e83a'; } /* 'î º' */
.icon-attachment:before { content: '\e83b'; } /* 'î »' */
.icon-back:before { content: '\e83c'; } /* 'î ¼' */
.icon-bluetooth:before { content: '\e83d'; } /* 'î ½' */
.icon-bluetooth-off:before { content: '\e83e'; } /* 'î ¾' */
.icon-book:before { content: '\e83f'; } /* 'î ¿' */
.icon-cake:before { content: '\e840'; } /* 'î¡€' */
.icon-call:before { content: '\e841'; } /* 'î¡' */
.icon-captions:before { content: '\e842'; } /* 'î¡‚' */
.icon-check:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-close:before { content: '\e844'; } /* 'î¡„' */
.icon-cloud:before { content: '\e845'; } /* 'î¡…' */
.icon-copy:before { content: '\e846'; } /* 'î¡†' */
.icon-crop:before { content: '\e847'; } /* 'î¡‡' */
.icon-cut:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-directions:before { content: '\e849'; } /* 'î¡‰' */
.icon-download:before { content: '\e84a'; } /* 'î¡Š' */
.icon-fast-forward:before { content: '\e84b'; } /* 'î¡‹' */
.icon-fast-rewind:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-flag:before { content: '\e84d'; } /* 'î¡' */
.icon-forward:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-google:before { content: '\e84f'; } /* 'î¡' */
.icon-hd:before { content: '\e850'; } /* 'î¡' */
.icon-history:before { content: '\e851'; } /* 'î¡‘' */
.icon-home:before { content: '\e852'; } /* 'î¡’' */
.icon-image:before { content: '\e853'; } /* 'î¡“' */
.icon-inbox:before { content: '\e854'; } /* 'î¡”' */
.icon-info:before { content: '\e855'; } /* 'î¡•' */
.icon-language:before { content: '\e856'; } /* 'î¡–' */
.icon-launch:before { content: '\e857'; } /* 'î¡—' */
.icon-link:before { content: '\e858'; } /* 'î¡˜' */
.icon-location:before { content: '\e859'; } /* 'î¡™' */
.icon-location-off:before { content: '\e85a'; } /* 'î¡š' */
.icon-lock:before { content: '\e85b'; } /* 'î¡›' */
.icon-loop:before { content: '\e85c'; } /* 'î¡œ' */
.icon-mail:before { content: '\e85d'; } /* 'î¡' */
.icon-mail-open:before { content: '\e85e'; } /* 'î¡ž' */
.icon-map:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-menu:before { content: '\e860'; } /* 'î¡ ' */
.icon-message:before { content: '\e861'; } /* 'î¡¡' */
.icon-message-empty:before { content: '\e862'; } /* 'î¡¢' */
.icon-mic:before { content: '\e863'; } /* 'î¡£' */
.icon-mic-off:before { content: '\e864'; } /* 'î¡¤' */
.icon-minus:before { content: '\e865'; } /* 'î¡¥' */
.icon-more:before { content: '\e866'; } /* 'î¡¦' */
.icon-movie:before { content: '\e867'; } /* 'î¡§' */
.icon-news:before { content: '\e868'; } /* 'î¡¨' */
.icon-notifications:before { content: '\e869'; } /* 'î¡©' */
.icon-notifications-none:before { content: '\e86a'; } /* 'î¡ª' */
.icon-notifications-off:before { content: '\e86b'; } /* 'î¡«' */
.icon-paste:before { content: '\e86c'; } /* 'î¡¬' */
.icon-pause:before { content: '\e86d'; } /* 'î¡­' */
.icon-calendar:before { content: '\e86e'; } /* 'î¡®' */
.icon-camera:before { content: '\e86f'; } /* 'î¡¯' */
.icon-share:before { content: '\e870'; } /* 'î¡°' */
